*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#000;
color:white;
}

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("banner.png");

background-size:cover;
background-position:center;
display:flex;
align-items:center;
padding:80px;
}

.logo{
color:#d4a04c;
font-size:28px;
font-weight:700;
}

nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:25px 60px;
background:rgba(0,0,0,.7);
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
text-decoration:none;
color:white;
}

.hero-content{
max-width:700px;
}

.intro{
letter-spacing:6px;
margin-bottom:20px;
}

.hero h1{
font-size:7rem;
color:#d4a04c;
}

.hero h3{
margin:20px 0;
font-weight:300;
}

.summary{
line-height:1.8;
max-width:600px;
}

.buttons{
margin-top:30px;
display:flex;
gap:20px;
}

.btn{
padding:15px 25px;
text-decoration:none;
}

.primary{
background:#d4a04c;
color:black;
}

.secondary{
border:1px solid #d4a04c;
color:#d4a04c;
}

.stats{
display:flex;
gap:50px;
margin-top:50px;
}

.stats h2{
color:#d4a04c;
}

section:not(.hero){
padding:80px;
}

h2{
color:#d4a04c;
margin-bottom:20px;
}
